@model YourPhotoKit.Models.TripModels.CreateandEditTripViewModel

@{
    ViewData["Title"] = "Edit";
}

    <h3 style="text-align: center; color: whitesmoke; margin: auto;">Edit the <span style="font-weight:700">@Model.Trip.Title</span> Trip</h3>

<h4></h4>
<hr />

<div class="row">
    <div class="col-md-7" style="margin: auto; padding-top: 15px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trip.TripId" />
            <div class="form-group">
                <label asp-for="Trip.Title" class="control-label"></label>
                <input asp-for="Trip.Title" class="form-control" />
                <span asp-validation-for="Trip.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Description" class="control-label"></label>
                <input asp-for="Trip.Description" class="form-control" />
                <span asp-validation-for="Trip.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.StartDate" class="control-label"></label>
                <input asp-for="Trip.StartDate" class="form-control" />
                <span asp-validation-for="Trip.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.EndDate" class="control-label"></label>
                <input asp-for="Trip.EndDate" class="form-control" />
                <span asp-validation-for="Trip.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.GalleryUrl" class="control-label"></label>
                <input asp-for="Trip.GalleryUrl" class="form-control" />
                <span asp-validation-for="Trip.GalleryUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.UserComments" class="control-label"></label>
                <input asp-for="Trip.UserComments" class="form-control" />
                <span asp-validation-for="Trip.UserComments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Img"></label>
                <input asp-for="Img" type="file">
                <span asp-validation-for="Img"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.Trip.PhotoUrl)
            </div>
            <div class="form-group">
                <input asp-page-handler="Upload" type="submit" value="Save" class="btn btn-primary" /> |  <a asp-action="Details" asp-route-id="@Model.Trip.TripId" class="btn btn-light">Go Back</a>
            </div>
        </form>
    </div>
</div>

<div style="text-align: center;">
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
