@model YourPhotoKit.Models.GearItems.GearItemCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h3 style="text-align: center">Create</h3>

<h4>GearItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Img"></label>
                <input asp-for="Img" type="file">
                <span asp-validation-for="Img"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.Title" class="control-label"></label>
                <input asp-for="GearItem.Title" class="form-control" />
                <span asp-validation-for="GearItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.Description" class="control-label"></label>
                <input asp-for="GearItem.Description" class="form-control" />
                <span asp-validation-for="GearItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.GearTypeId" class="control-label"></label>
                <select asp-for="GearItem.GearTypeId" class="form-control" asp-items="Model.GearTypeOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.Cost" class="control-label"></label>
                <input asp-for="GearItem.Cost" class="form-control" />
                <span asp-validation-for="GearItem.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.DatePurchased" class="control-label"></label>
                <input asp-for="GearItem.DatePurchased" class="form-control" />
                <span asp-validation-for="GearItem.DatePurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.SerialNumber" class="control-label"></label>
                <input asp-for="GearItem.SerialNumber" class="form-control" />
                <span asp-validation-for="GearItem.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-page-handler="Upload" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
