@model YourPhotoKit.Models.GearItems.GearItemCreateViewModel

@{
    ViewData["Title"] = "Edit";
}



<h3 style="text-align: center; color: whitesmoke; margin: auto;">Edit your Gear Item</h3>
<hr />
<div class="row">
    <div class="col-md-7" style="background-color: whitesmoke; margin: auto; padding-top: 15px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GearItem.GearItemId" />
            <div class="form-group">
                <label asp-for="GearItem.Title" class="control-label"></label>
                <input asp-for="GearItem.Title" class="form-control" />
                <span asp-validation-for="GearItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.Description" class="control-label"></label>
                <input asp-for="GearItem.Description" class="form-control" />
                <span asp-validation-for="GearItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.GearTypeId" class="control-label"></label>
                <select asp-for="GearItem.GearTypeId" class="form-control" asp-items="Model.GearTypeOptions"></select>
                <span asp-validation-for="GearItem.GearTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.Cost" class="control-label"></label>
                <input asp-for="GearItem.Cost" class="form-control" />
                <span asp-validation-for="GearItem.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.DatePurchased" class="control-label"></label>
                <input asp-for="GearItem.DatePurchased" class="form-control" />
                <span asp-validation-for="GearItem.DatePurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearItem.SerialNumber" class="control-label"></label>
                <input asp-for="GearItem.SerialNumber" class="form-control" />
                <span asp-validation-for="GearItem.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img"></label>
                <input asp-for="Img" type="file">
                <span asp-validation-for="Img"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.GearItem.PhotoUrl)
            </div>
            <div class="form-group">
                <input asp-page-handler="Upload" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="text-align: center;">
    <a class="back_index" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
