@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center" style="margin-top: 80px;">
        <h1 class="display-4" style="color:lightgray">Welcome to <span style="font-weight:bolder">Your Photo Kit</span></h1>
    </div>
    <div style="display: flex; justify-content: space-evenly; margin-top: 60px">
        <div class="flex-row" id="left-box" style="width: 400px; height: 250px; background-color: black;">
            <div id="photoKit" style="text-align: center; margin-top: 100px;">
                <h3>
                    <a id="kit_link" asp-action="Index" asp-controller="GearItems">Your Kit</a>
                </h3>
            </div>
        
        </div>

        <div class="flex-row" id="right-box" style="width: 400px; height: 250px; background-color: black";>
            <div id="trip" style="text-align: center; margin-top: 100px">
                <h3>
                    <a id="trip_link" asp-action="Index" asp-controller="Trips">Your Trips</a>
                </h3>
            </div>
        </div>
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Your Photo Kit</h1>
        <h5 class="h5">A place to log your photo gear, create a trip and pack your bag.</h5>
        <h5>Create an account and get started creating your kit today.</h5>
    </div>
    <br />
}
