@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{

}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Your Photo Kit</h1>
        <h5 class="h5">A place to log your photo gear, create a trip and pack your bag.</h5>
        <h5>Create an account and get started creating your kit today.</h5>
    </div>
}
