@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <div style="margin-top: 25%;">
            <div class="text-center" style="">
                <h1 class="display-4" style="color:lightgray; font-weight: 500; text-shadow: 2px 2px 4px #000000; margin-bottom: 2px;">Welcome to <span style="font-weight:700">Your Photo Kit</span></h1>
                <h5 style="font-weight: lighter">A place to log your landscape photography gear, create a trip and pack your bag.</h5>
            </div>
            <div style="display: flex; justify-content: space-evenly; margin-top: 60px; flex-wrap: wrap;">
                <div class="flex-row" id="left-box" style="width: 400px; height: 250px; background-color: black; box-shadow: 4px 4px 11px #000000;">
                    <div id="photoKit" style="text-align: center; margin-top: 100px;">
                        <h3>
                            <a id="kit_link" asp-action="Index" asp-controller="GearItems">Your Kit</a>
                        </h3>
                    </div>

                </div>

                <div class="flex-row" id="right-box" style="width: 400px; height: 250px; background-color: black; box-shadow: 4px 4px 11px #000000;" ;>
                    <div id="trip" style="text-align: center; margin-top: 100px">
                        <h3>
                            <a id="trip_link" asp-action="Index" asp-controller="Trips">Your Trips</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center" style="margin-top: 125px;">
        <h1 class="display-4" style="color: lightgray ">Welcome to <span style="font-weight:bolder">Your Photo Kit</span></h1>
        <h5 class="h5">A place to log your landscape photography gear, create a trip and pack your bag.</h5>
        <h5>Create an <a asp-area="Identity" asp-page="/Account/Register">account</a> and get started creating your kit today.</h5>
    </div>
    <br />
}
